{{- $c := .kanagawa.dragon -}}
[env]
TERM = "xterm-256color"
WINIT_X11_SCALE_FACTOR = "1"

[window]
dynamic_padding = true
decorations = "full"
title = "Alacritty@CachyOS"
opacity = 1.0
decorations_theme_variant = "Dark"

[window.dimensions]
columns = 100
lines = 30

[window.class]
instance = "Alacritty"
general = "Alacritty"

[scrolling]
history = 10000
multiplier = 3

[colors]
draw_bold_text_with_bright_colors = true

[colors.primary]
background = {{ template "color-quoted.tmpl" $c.bg_dark }}
foreground = {{ template "color-quoted.tmpl" $c.fg_primary }}

[colors.normal]
black = {{ template "color-quoted.tmpl" $c.black }}
red = {{ template "color-quoted.tmpl" $c.red }}
green = {{ template "color-quoted.tmpl" $c.green }}
yellow = {{ template "color-quoted.tmpl" $c.yellow }}
blue = {{ template "color-quoted.tmpl" $c.blue }}
magenta = {{ template "color-quoted.tmpl" $c.magenta }}
cyan = {{ template "color-quoted.tmpl" $c.cyan }}
white = {{ template "color-quoted.tmpl" $c.white }}

[colors.bright]
black = {{ template "color-quoted.tmpl" $c.bright_black }}
red = {{ template "color-quoted.tmpl" $c.bright_red }}
green = {{ template "color-quoted.tmpl" $c.bright_green }}
yellow = {{ template "color-quoted.tmpl" $c.bright_yellow }}
blue = {{ template "color-quoted.tmpl" $c.bright_blue }}
magenta = {{ template "color-quoted.tmpl" $c.bright_magenta }}
cyan = {{ template "color-quoted.tmpl" $c.bright_cyan }}
white = {{ template "color-quoted.tmpl" $c.bright_white }}

[font]
size = 20

[font.normal]
family = "monospace"
style = "Regular"

[font.bold]
family = "monospace"
style = "Bold"

[font.italic]
family = "monospace"
style = "Italic"

[font.bold_italic]
family = "monospace"
style = "Bold Italic"

[colors.selection]
background = {{ template "color-quoted.tmpl" $c.selection }}
foreground = {{ template "color-quoted.tmpl" $c.fg_default }}

[[colors.indexed_colors]]
index = 16
color = {{ template "color-quoted.tmpl" $c.indexed_16 }}

[[colors.indexed_colors]]
index = 17
color = {{ template "color-quoted.tmpl" $c.indexed_17 }}

[selection]
semantic_escape_chars = ",│`|:\"' ()[]{}<>\t"
save_to_clipboard = true

[cursor]
style = "Underline"
vi_mode_style = "None"
unfocused_hollow = true
thickness = 0.15

[mouse]
hide_when_typing = true

[[mouse.bindings]]
mouse = "Middle"
action = "PasteSelection"

[keyboard]
[[keyboard.bindings]]
key = "Paste"
action = "Paste"

[[keyboard.bindings]]
key = "Copy"
action = "Copy"

[[keyboard.bindings]]
key = "L"
mods = "Control"
action = "ClearLogNotice"

[[keyboard.bindings]]
key = "L"
mods = "Control"
mode = "~Vi"
chars = "\f"

[[keyboard.bindings]]
key = "PageUp"
mods = "Shift"
mode = "~Alt"
action = "ScrollPageUp"

[[keyboard.bindings]]
key = "PageDown"
mods = "Shift"
mode = "~Alt"
action = "ScrollPageDown"

[[keyboard.bindings]]
key = "Home"
mods = "Shift"
mode = "~Alt"
action = "ScrollToTop"

[[keyboard.bindings]]
key = "End"
mods = "Shift"
mode = "~Alt"
action = "ScrollToBottom"

[[keyboard.bindings]]
key = "V"
mods = "Control|Shift"
action = "Paste"

[[keyboard.bindings]]
key = "C"
mods = "Control|Shift"
action = "Copy"

[[keyboard.bindings]]
key = "F"
mods = "Control|Shift"
action = "SearchForward"

[[keyboard.bindings]]
key = "B"
mods = "Control|Shift"
action = "SearchBackward"

[[keyboard.bindings]]
key = "C"
mods = "Control|Shift"
mode = "Vi"
action = "ClearSelection"

[[keyboard.bindings]]
key = "Key0"
mods = "Control"
action = "ResetFontSize"

[general]
live_config_reload = true
working_directory = "None"
