function mp --description "Play media with mpv (mp = media-play)"
    if test (count $argv) -eq 0
        # No arguments - use wrapper for lf browsing
        ~/.local/bin/mpv
    else
        # Arguments provided - play directly
        /usr/bin/mpv $argv
    end
end

# Register semantic abbreviation
abbr --add mp mp