{{- /* List active torrents */ -}}
function tlist --description "List active torrents"
    if not systemctl --user is-active --quiet transmission-daemon
        echo "⚠ Transmission daemon not running"
        return 1
    end

    transmission-remote -n (transmission-auth) -l
end