{{- /* Ultra-Zen Bitwarden Password Retrieval Template */ -}}
{{- /* Usage: {{ template "bitwarden-password.tmpl" "item-name" }} */ -}}
{{- /* Returns only the password field from a Bitwarden item */ -}}
{{- if . -}}
    {{- $itemName := . -}}
    {{- with bitwarden "item" $itemName -}}
        {{- if .login.password -}}
            {{- .login.password }}
        {{- else -}}
            {{- fail (printf "No password found for item: %s" $itemName) -}}
        {{- end -}}
    {{- else -}}
        {{- fail (printf "Item not found: %s" $itemName) -}}
    {{- end -}}
{{- else -}}
    {{- fail "bitwarden-password.tmpl requires an item name" -}}
{{- end -}}