{{- /* Maps semantic color names to terminal color indices (0-15) */ -}}
{{- /* Usage: {{ include "color-index.tmpl" "bright_cyan" }} outputs "color14" */ -}}
{{- $colorMap := dict
  "black" 0
  "red" 1
  "green" 2
  "yellow" 3
  "blue" 4
  "magenta" 5
  "cyan" 6
  "white" 7
  "bright_black" 8
  "bright_red" 9
  "bright_green" 10
  "bright_yellow" 11
  "bright_blue" 12
  "bright_magenta" 13
  "bright_cyan" 14
  "bright_white" 15 -}}
{{- if hasKey $colorMap . -}}
color{{- index $colorMap . -}}
{{- else -}}
{{- . -}}
{{- end -}}