{{- /*
Ultra-Zen Fish Keybinding Template
Generates Fish vi mode bindings from semantic definitions

Usage:
  {{ template "keybind-fish.tmpl" dict "action" "file_end" "mode" "default" "keybindings" $kb }}

Parameters:
  action: Semantic action from keybindings.yaml
  mode: Fish vi mode (default, insert, visual)
  keybindings: The keybindings data structure
*/ -}}
{{- $action := .action -}}
{{- $mode := .mode | default "default" -}}
{{- $kb := .keybindings -}}

{{- /* Map semantic actions to Fish commands */ -}}
{{- $fishCmd := "" -}}
{{- if eq $action "file_end" -}}
    {{- $fishCmd = "end-of-buffer" -}}
{{- else if eq $action "file_start" -}}
    {{- $fishCmd = "beginning-of-buffer" -}}
{{- else if eq $action "line_start" -}}
    {{- $fishCmd = "beginning-of-line" -}}
{{- else if eq $action "line_end" -}}
    {{- $fishCmd = "end-of-line" -}}
{{- else if eq $action "execute" -}}
    {{- $fishCmd = "execute" -}}
{{- else if eq $action "search_backward" -}}
    {{- $fishCmd = "history-search-backward" -}}
{{- else if eq $action "search_forward" -}}
    {{- $fishCmd = "history-search-forward" -}}
{{- else if eq $action "extend_selection" -}}
    {{- $fishCmd = "begin-selection" -}}
{{- else if eq $action "kill_selection" -}}
    {{- $fishCmd = "kill-selection" -}}
{{- else if eq $action "accept_suggestion" -}}
    {{- $fishCmd = "forward-char" -}}
{{- end -}}

{{- /* Get the key from semantic definitions */ -}}
{{- $key := "" -}}
{{- if eq $action "file_end" -}}
    {{- $key = $kb.semantic.navigate.file_end -}}
{{- else if eq $action "file_start" -}}
    {{- $key = $kb.semantic.navigate.file_start -}}
{{- else if eq $action "line_start" -}}
    {{- $key = $kb.semantic.navigate.line_start -}}
{{- else if eq $action "line_end" -}}
    {{- $key = $kb.semantic.navigate.line_end -}}
{{- else if eq $action "execute" -}}
    {{- $key = "\\r" -}}
{{- else if eq $action "search_backward" -}}
    {{- $key = "/" -}}  {{- /* Fish history-search-backward uses / key */ -}}
{{- else if eq $action "search_forward" -}}
    {{- $key = "?" -}}  {{- /* Fish history-search-forward uses ? key */ -}}
{{- else if eq $action "extend_selection" -}}
    {{- $key = $kb.semantic.transform.mode_extend -}}
{{- else if eq $action "kill_selection" -}}
    {{- $key = "x" -}}
{{- else if eq $action "accept_suggestion" -}}
    {{- $key = "\\cf" -}}
{{- end -}}

{{- /* Output the bind command */ -}}
bind -M {{ $mode }} {{ $key }} {{ $fishCmd }}