{{- /* NEWT_COLORS Kanagawa Theme Template */ -}}
{{- /* Maps NEWT color components to terminal's 16-color palette */ -}}
{{- /* Designed to match Alacritty's Kanagawa color scheme */ -}}
{{- "" -}}
{{- /* Color Reference from Alacritty config:
     color0:  #0d0c0c (black)          color8:  #a6a69c (bright black/gray)
     color1:  #c4746e (red)            color9:  #E46876 (bright red)
     color2:  #8a9a7b (green)          color10: #87a987 (bright green)
     color3:  #c4b28a (yellow/brown)   color11: #E6C384 (bright yellow)
     color4:  #8ba4b0 (blue)           color12: #7FB4CA (bright blue)
     color5:  #a292a3 (magenta)        color13: #938AA9 (bright magenta)
     color6:  #8ea4a2 (cyan)           color14: #7AA89F (bright cyan)
     color7:  #C8C093 (white)          color15: #c8c093 (bright white/oldWhite)
*/ -}}
{{- "root=color7,color0 " -}}{{- /* Main: C8C093 on 0d0c0c */ -}}
{{- "window=color7,color0 " -}}{{- /* Windows: C8C093 on 0d0c0c */ -}}
{{- "border=color8,color0 " -}}{{- /* Borders: a6a69c on 0d0c0c */ -}}
{{- "shadow=color0,color8 " -}}{{- /* Shadow: 0d0c0c on a6a69c */ -}}
{{- "title=color14,color0 " -}}{{- /* Titles: 7AA89F on 0d0c0c */ -}}
{{- "button=color0,color6 " -}}{{- /* Buttons: 0d0c0c on 8ea4a2 */ -}}
{{- "actbutton=color15,color4 " -}}{{- /* Active buttons: c8c093 on 8ba4b0 */ -}}
{{- "checkbox=color7,color0 " -}}{{- /* Checkboxes: C8C093 on 0d0c0c */ -}}
{{- "actcheckbox=color14,color0 " -}}{{- /* Active checkbox: 7AA89F on 0d0c0c */ -}}
{{- "entry=color15,color8 " -}}{{- /* Input fields: c8c093 on a6a69c */ -}}
{{- "label=color7,color0 " -}}{{- /* Labels: C8C093 on 0d0c0c */ -}}
{{- "listbox=color7,color0 " -}}{{- /* List items: C8C093 on 0d0c0c */ -}}
{{- "actlistbox=color0,color14 " -}}{{- /* Active list: 0d0c0c on 7AA89F */ -}}
{{- "textbox=color7,color0 " -}}{{- /* Text areas: C8C093 on 0d0c0c */ -}}
{{- "acttextbox=color0,color14 " -}}{{- /* Active text: 0d0c0c on 7AA89F */ -}}
{{- "helpline=color6,color0 " -}}{{- /* Help text: 8ea4a2 on 0d0c0c */ -}}
{{- "roottext=color7,color0 " -}}{{- /* Root text: C8C093 on 0d0c0c */ -}}
{{- "emptyscale=,color8 " -}}{{- /* Empty progress: a6a69c */ -}}
{{- "fullscale=,color14 " -}}{{- /* Full progress: 7AA89F */ -}}
{{- "disentry=color8,color0 " -}}{{- /* Disabled: a6a69c on 0d0c0c */ -}}
{{- "compactbutton=color7,color0 " -}}{{- /* Compact btn: C8C093 on 0d0c0c */ -}}
{{- "actsellistbox=color0,color12 " -}}{{- /* Active+selected: 0d0c0c on 7FB4CA */ -}}
{{- "sellistbox=color15,color4" -}}{{- /* Selected: c8c093 on 8ba4b0 */ -}}