[Desktop Entry]
Version=1.0
Type=Application
Name=Transmission Magnet Handler
GenericName=BitTorrent Magnet Link Handler
Comment=Add magnet links to Transmission
Exec={{ .chezmoi.homeDir }}/.local/bin/transmission-magnet-handler %u
Icon=transmission
Terminal=false
NoDisplay=true
MimeType=x-scheme-handler/magnet;
Categories=Network;P2P;FileTransfer;
Keywords=torrent;transmission;magnet;