[Desktop Entry]
Name=Zathura
Comment=A document viewer
Exec=zathura %f
Terminal=false
Type=Application
MimeType=application/pdf;application/postscript;application/epub+zip;application/vnd.djvu;
Categories=Office;Viewer;
Icon=zathura