[
    {
        "key": "h",
        "command": ["script-binding", "file_browser/dynamic/up_dir"],
        "name": "navigate_prev"
    },
    {
        "key": "l",
        "command": ["script-binding", "file_browser/dynamic/down_dir"],
        "name": "navigate_next"
    },
    {
        "key": "j",
        "command": ["script-binding", "file_browser/dynamic/scroll_down"],
        "name": "navigate_down"
    },
    {
        "key": "k",
        "command": ["script-binding", "file_browser/dynamic/scroll_up"],
        "name": "navigate_up"
    },
    {
        "key": "gg",
        "command": ["script-binding", "file_browser/dynamic/goto_first"],
        "name": "goto_start"
    },
    {
        "key": "ge",
        "command": ["script-binding", "file_browser/dynamic/goto_last"],
        "name": "goto_end_helix"
    },
    {
        "key": "G",
        "command": ["script-binding", "file_browser/dynamic/goto_last"],
        "name": "goto_end_vim"
    },
    {
        "key": "J",
        "command": ["script-binding", "file_browser/dynamic/page_down"],
        "name": "page_down"
    },
    {
        "key": "K",
        "command": ["script-binding", "file_browser/dynamic/page_up"],
        "name": "page_up"
    },
    {
        "key": "ENTER",
        "command": ["script-binding", "file_browser/dynamic/play"],
        "name": "play_file"
    },
    {
        "key": "SPACE",
        "command": ["script-binding", "file_browser/dynamic/play_append"],
        "name": "append_file"
    },
    {
        "key": "TAB",
        "command": ["script-binding", "file_browser/dynamic/select"],
        "name": "toggle_select"
    },
    {
        "key": "q",
        "command": ["script-binding", "file_browser/dynamic/close"],
        "name": "quit_browser"
    },
    {
        "key": "ESC",
        "command": ["script-binding", "file_browser/dynamic/close"],
        "name": "escape_browser"
    },
    {
        "key": "r",
        "command": ["script-binding", "file_browser/dynamic/reload"],
        "name": "reload_directory"
    },
    {
        "key": "/",
        "command": ["script-binding", "file_browser/dynamic/search"],
        "name": "search_files"
    },
    {
        "key": "n",
        "command": ["script-binding", "file_browser/dynamic/search_next"],
        "name": "search_next"
    },
    {
        "key": "N",
        "command": ["script-binding", "file_browser/dynamic/search_prev"],
        "name": "search_previous"
    },
    {
        "key": ".",
        "command": ["script-binding", "file_browser/dynamic/toggle_hidden"],
        "name": "toggle_hidden"
    },
    {
        "key": "~",
        "command": ["script-binding", "file_browser/dynamic/goto_home"],
        "name": "goto_home"
    },
    {
        "key": "u",
        "command": ["script-binding", "file_browser/dynamic/up_dir"],
        "name": "up_directory"
    }
]